<div class="container" id="main">
  <div class="row scroll-container">
    <div class="col-md-9">
      <div class="container pages" id="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="well page active content" id="about">
              <!-- Reset Indent -->

<a name="top-anchor"></a>
<section id="file-metadata">
  <h2>File Metadata Microservice</h2>
  <p>This microservice displays file metadata at different stages of an upload.
  </p>
  <p>
    <a type="button" href="#more-info" class="btn btn-raised btn-secondary btn-sm pull-right">
      Additional Info
    <div class="ripple-container"></div></a>
  </p>
  <br><br>
  <hr>
  <section id="try-it">
    <h3>See It In Action</h3>
      <p>Upload a file to test metadata inspection.
      </p>
      <form> <!--method="post" enctype="multipart/form-data" action="/upload/" name="theForm" id="file-upload"-->
        <div class="search-container form-group">
          <div class="label-floating is-empty">
            <div class="input-group">
              <input id="file" name="file" multiple="" type="file" (change)="selectFile($event)">
              <input readonly="" class="form-control" placeholder="Choose A File..." type="text" name="filename" [(ngModel)]="filename">
              <span class="input-group-btn">
              </span>
            </div>
          </div>
          <div class="label-floating is-empty" style="width: 160px;">
            <label>
              <span class="btn btn-raised btn-primary" id="browse-file">
                Browse&hellip;
              </span>
            </label>
          </div>
          <div class="" style="width: 160px;">
            <input class="btn btn-raised btn-primary" type="submit" value="Upload" id="sub-file-upload" (click)="upload();">
          </div>
        </div>
      </form>
    <br><br>
    <div class="panel panel-default">
      <div class="panel-heading">Early Inspection</div>
      <div class="panel-body">
        <p *ngFor="let key of fileMetadataKeys">
        <span *ngIf="fileMetadata[key]">
          <b>{{key}}</b> - {{fileMetadata[key]}}
        </span>
        </p>
      </div>
    </div>
    <br><br>
    <div class="panel panel-default">
      <div class="panel-heading">Server Inspection</div>
      <div class="panel-body">
        <p *ngFor="let key of uploadMetadataKeys">
        <span *ngIf="uploadMetadata[key]">
          <b>{{key}}</b> - {{uploadMetadata[key]}}
        </span>
        </p>
      </div>
    </div>
    <br><br>
  </section><!--end of #tryit-->
</section>
<br>
<hr>

<section id="more-information"><a name="more-info"></a>
  <h2>Additional Information</h2>
  <p>
  </p>
  <p>The query string is mandatory, the offset and count are optional. The default
  count is 10 with an offset of 0.
  </p>
  <section id="limitations">
    <h3>Use Limitations</h3>
    <p>This application makes use of Herokus free tier. Accordingly,
      the application is limited to:
    </p>
    <ul>
      <li>18 hours / day of run time</li>
    </ul>
    <p>
    </p>
    <h3>Input Limitations</h3>
    <p>This service currently accepts only one file at a time.
    </p>
  </section><!--end of #limitations-->
  <section id="user-story">
    <h3>User Story</h3>
    <p>The following user stories were the basis for this application:
    </p>
    <ol>
      <li>I  can submit a FormData object that includes a file upload.</li>
      <li>When I submit something, I will receive the file size in bytes within the JSON response</li>
    </ol>
  </section><!--end of #user-story-->
  <br>
  <hr>
  <section id="to-do">
    <h2>ToDo</h2>
  <ul>
    <li>Add support for multiple files</li>
    <li>Improve form validation</li>
    <li>Improve server side error message handling</li>
    <li>Add notifications to interface</li>
    <li>Rewrite footer</li>
  </ul>
  </section><!--end of #more-information-->
</section><!--end of #more-information-->
  <br>
  <br>
    
              <!-- /Reset Indent -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 scrollspy">
        <ul id="navspy" class="nav hidden-xs hidden-sm navspy" data-spy="affix">
          <li><a href="#file-metadata">File Metadata</a>
            <ul class="nav navspy">
              <li><a href="#try-it">In Action</a></li>
            </ul>
          </li>
          <li><a href="#more-information">Additional Info</a>
            <ul class="nav navspy">
              <li><a href="#limitations">Limitations</a></li>
              <li><a href="#user-story">User Story</a></li>
              <li><a href="#to-do">ToDo</a></li>
            </ul>
          </li>
        <li style="padding-top: 10px;"><a href="#top-anchor">Back to Top</a></li>
        </ul>
    </div>
<!--    <nav class="col-m-2 menu">
      <ul>
        <li class="active withripple" data-target="#about">Material Design for Bootstrap</li>
        <li class="withripple" data-target="#getting-started">Getting Started</li>
        <li><a href="bootstrap-elements.html" target="_blank">Bootstrap elements <i class="material-icons">open_in_new</i></a>
        </li>
        <li class="withripple" data-target="#checkbox">Checkbox</li>
        <li class="withripple" data-target="#radio-button">Radio Button</li>
        <li class="withripple" data-target="#toggle-button">Toggle Button</li>
        <li class="withripple" data-target="#input">Input</li>
        <li class="withripple" data-target="#fileinput">File Input</li>
        <li class="withripple" data-target="#navbar">Navbar</li>
        <li class="withripple" data-target="#progress-bar">Progress Bar</li>
        <li class="withripple" data-target="#slider">Slider</li>
        <li class="withripple" data-target="#dropdown">Dropdown (Work in progress)</li>
        <li class="withripple" data-target="#dropdown-menu">Dropdown Menu</li>
        <li class="withripple" data-target="#dialog">Dialog</li>
      </ul>
    </nav>-->
  </div>
  <div class="row">
    <footer class="col-xs-12 application">
      <div class="container" id="footer">
        <h2>About</h2>
        <div class="row">
<br><br>
          <div class="col-sm-6">
            <p>More details to come
            </p>
            <img class="img-responsive  " src="http://placehold.it/500x250/5fb3ce/000000">
          </div>
          <div class="col-sm-6">
            <p>Hopefully sooner than later
            </p>
          </div>
<br><br>
        </div><!--end of .row-->
      </div><!--end of .container-->
    </footer> 
  </div>
</div>